.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: lightgrey;
    width: 600px;
    height: auto;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 600;
    color: #f40d30;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.text {
    color: #f40d30;
    font-size: 48px;
    font-weight: 600;
}

.inputs {
    margin-top: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 24px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0px 30px;
}
.input input {
    height: 50px;
    width: 350px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgotPassword {
    margin-top: 10px;
    color: #797979;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
}

.buttonContainer {
    display: flex;
    gap: 30px;
    margin: 40px auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #f40d30;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.inputCheckbox {
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
