.table th {
    background-color: #f40d30; /* Change background color to red */
    color: white; /* Change text color to white */
}

/* Rest of the CSS remains the same */
.table-container {
    overflow-x: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 100%; /* Set width to 100% */
    max-width: 1200px; /* Set a maximum width to avoid it becoming too wide */
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.table td.display-name {
    white-space: normal;
    word-wrap: break-word;
    max-width: 150px;
}
